<!--
  Generated template for the AddFarmerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="app">
		<ion-title>AddFarmer</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="personal">
		<ion-list>
			<ion-item-divider color="light">Personal Information</ion-item-divider>
			<div padding>
				<ion-item>
					<ion-label floating>Full Name</ion-label>
					<ion-input formControlName="txt_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_name.valid  && (personal.controls.txt_name.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_name.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.txt_name.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.txt_name.errors.maxlength.requiredLength}}</p>
				</div>
				<ion-item>
					<ion-label floating>Father's / Spouse's Name</ion-label>
					<ion-input formControlName="txt_father_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_father_name.valid  && (personal.controls.txt_father_name.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_father_name.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.txt_father_name.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.txt_father_name.errors.maxlength.requiredLength}}</p>
				</div>
				<ion-item>
					<ion-label floating>Mother's Name</ion-label>
					<ion-input formControlName="txt_mother_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_mother_name.valid  && (personal.controls.txt_mother_name.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_mother_name.errors.required">Please enter a valid name.</p>
					<p *ngIf="personal.controls.txt_mother_name.errors.maxlength">Length shoud be equal to or smaller than {{personal.controls.txt_mother_name.errors.maxlength.requiredLength}}</p>
				</div>
				<ion-item>
					<ion-label floating>Date of Birth</ion-label>
					<ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMM YYYY" formControlName="txt_dob"></ion-datetime>
				</ion-item>
				<div *ngIf="!personal.controls.txt_dob.valid  && (personal.controls.txt_dob.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_dob.errors.required">Please enter a valid Date.</p>
				</div>
				<ion-item>
					<ion-label floating>Age</ion-label>
					{{personal.controls.txt_age.value}}
				</ion-item>
				<ion-item>
					<ion-label floating>Mobile no.</ion-label>
					<ion-input formControlName="fm_mobileno" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.fm_mobileno.valid  && (personal.controls.fm_mobileno.dirty || submitAttempt)">
					<p>Please enter a 10 digit valid mobile no.</p>
				</div>
				<ion-item>
					<ion-label floating>Alternate Mobile no.</ion-label>
					<ion-input formControlName="alt_mobileno" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.alt_mobileno.valid  && (personal.controls.alt_mobileno.dirty || submitAttempt)">
					<p>Please enter a 10 digit valid mobile no.</p>
				</div>
				<ion-item>
					<ion-label floating>Aadhaar no.</ion-label>
					<ion-input formControlName="fm_aadhar" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.fm_aadhar.valid  && (personal.controls.fm_aadhar.dirty || submitAttempt)">
					<p>Please enter a 12 digit valid Aadhar no.</p>
				</div>
				<ion-item>
					<ion-label floating>Experience In Farming</ion-label>
					<ion-input formControlName="txt_farm_experience" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_farm_experience.valid  && (personal.controls.txt_farm_experience.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Do You Required A Loan? </ion-label>
					<ion-select formControlName="f1_required_loan" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.f1_required_loan.valid  && (personal.controls.f1_required_loan.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<div *ngIf="personal.controls.f1_required_loan.value == 'yes'">
					<ion-item>
						<ion-label floating>How Much Amount Of Loan You Required?</ion-label>
						<ion-input formControlName="f1_required_loan_amt" type="number"></ion-input>
					</ion-item>
					<div *ngIf="!personal.controls.f1_required_loan_amt.valid  && (personal.controls.f1_required_loan_amt.dirty || submitAttempt)">
						<p>This field is required.</p>
					</div>
					<ion-item>
						<ion-label floating>Loan Purpose</ion-label>
						<ion-select formControlName="f1_loan_purpose" interface="popover">
							<ion-option value="Whole Crop Process">Whole Crop Process</ion-option>
							<ion-option value="Buy Machinery">Buy Machinery</ion-option>
							<ion-option value="Buy Seeds">Buy Seeds</ion-option>
							<ion-option value="Buy Tools">Buy Tools</ion-option>
							<ion-option value="Buy Irrigation">Buy Irrigation</ion-option>
							<ion-option value="Others">Others</ion-option>
						</ion-select>
					</ion-item>
					<div *ngIf="!personal.controls.f1_loan_purpose.valid  && (personal.controls.f1_loan_purpose.dirty || submitAttempt)">
						<p>This field is required.</p>
					</div>
					<ion-item>
						<ion-label floating>Crop Cycle For Loan Required</ion-label>
						<ion-select formControlName="f1_crop_cycle" interface="popover">
							<ion-option value="Kharif">Kharif</ion-option>
							<ion-option value="Rabi">Rabi</ion-option>
							<ion-option value="Summer">Summer</ion-option>
							<ion-option value="All Year Round">All Year Round</ion-option>
						</ion-select>
					</ion-item>
					<div *ngIf="!personal.controls.f1_crop_cycle.valid  && (personal.controls.f1_crop_cycle.dirty || submitAttempt)">
						<p>This field is required.</p>
					</div>
				</div>
				<ion-item>
					<ion-label floating>Are you Married?</ion-label>
					<ion-select formControlName="ddl_married_status" interface="popover">
						<ion-option value="yes">Yes</ion-option>
						<ion-option value="no">No</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_married_status.valid  && (personal.controls.ddl_married_status.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Residence Status</ion-label>
					<ion-select formControlName="ddl_residence_status">
						<ion-option value="Rented">Rented</ion-option>
						<ion-option value="Owned">Owned</ion-option>
						<ion-option value="Ancestral">Ancestral</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_residence_status.valid  && (personal.controls.ddl_residence_status.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<div *ngIf="personal.controls.ddl_residence_status.value == 'Rented'">
					<ion-item>
						<ion-label floating>Rent</ion-label>
						<ion-input formControlName="txt_rent" type="number"></ion-input>
					</ion-item>
					<div *ngIf="!personal.controls.txt_rent.valid  && (personal.controls.txt_rent.dirty || submitAttempt)">
						<p>Please enter a 10 digit valid Mobile no.</p>
					</div>
				</div>
			</div>
			<ion-item-divider color="light">Address(permanent)</ion-item-divider>
			<div padding>
				<ion-item>
					<ion-label floating>House no.</ion-label>
					<ion-input formControlName="txt_p_house_no" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_p_house_no.valid  && (personal.controls.txt_p_house_no.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_p_house_no.errors.required">Please enter a valid house no.</p>
				</div>
				<ion-item>
					<ion-label floating>Street name.</ion-label>
					<ion-input formControlName="txt_p_street_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_p_street_name.valid  && (personal.controls.txt_p_street_name.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_p_street_name.errors.required">Please enter a valid house no.</p>
				</div>
				<ion-item>
					<ion-label floating>Area name</ion-label>
					<ion-input formControlName="txt_p_area_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_p_area_name.valid  && (personal.controls.txt_p_area_name.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_p_area_name.errors.required">Please enter a valid house no.</p>
				</div>
				<ion-item>
					<ion-label floating>state</ion-label>
					<ion-select formControlName="ddl_p_state">
						<ion-option value="state1">state1</ion-option>
						<ion-option value="state2">state2</ion-option>
						<ion-option value="state3">state3</ion-option>
						<ion-option value="state4">state4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_p_state.valid  && (personal.controls.ddl_p_state.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>District</ion-label>
					<ion-select formControlName="ddl_p_dist">
						<ion-option value="district1">district1</ion-option>
						<ion-option value="district2">district2</ion-option>
						<ion-option value="district3">district3</ion-option>
						<ion-option value="district4">district4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_p_dist.valid  && (personal.controls.ddl_p_dist.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Taluka</ion-label>
					<ion-select formControlName="ddl_p_tal">
						<ion-option value="taluka1">taluka1</ion-option>
						<ion-option value="taluka2">taluka2</ion-option>
						<ion-option value="taluka3">taluka3</ion-option>
						<ion-option value="taluka4">taluka4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_p_tal.valid  && (personal.controls.ddl_p_tal.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Village</ion-label>
					<ion-select formControlName="ddl_p_village">
						<ion-option value="village1">village1</ion-option>
						<ion-option value="village2">village2</ion-option>
						<ion-option value="village3">village3</ion-option>
						<ion-option value="village4">village4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_p_village.valid  && (personal.controls.ddl_p_village.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Pin code</ion-label>
					<ion-input formControlName="txt_p_pincode" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_p_pincode.valid  && (personal.controls.txt_p_pincode.dirty || submitAttempt)">
					<p>Please enter a valid 6 digit Pin no.</p>
				</div>
			</div>
			<ion-item-divider color="light">Address(Current)</ion-item-divider>
			<div padding>
				<button ion-button color="light" (click)="copyAddress()">Same as Permanent</button>
				<ion-item>
					<ion-label floating>House no.</ion-label>
					<ion-input formControlName="txt_c_house_no" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_c_house_no.valid  && (personal.controls.txt_c_house_no.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_c_house_no.errors.required">Please enter a valid house no.</p>
				</div>
				<ion-item>
					<ion-label floating>Street name.</ion-label>
					<ion-input formControlName="txt_c_street_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_c_street_name.valid  && (personal.controls.txt_c_street_name.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_c_street_name.errors.required">Please enter a valid house no.</p>
				</div>
				<ion-item>
					<ion-label floating>Area name</ion-label>
					<ion-input formControlName="txt_c_area_name" type="text"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_c_area_name.valid  && (personal.controls.txt_c_area_name.dirty || submitAttempt)">
					<p *ngIf="personal.controls.txt_c_area_name.errors.required">Please enter a valid house no.</p>
				</div>
				<ion-item>
					<ion-label floating>state</ion-label>
					<ion-select formControlName="ddl_c_state">
						<ion-option value="state1">state1</ion-option>
						<ion-option value="state2">state2</ion-option>
						<ion-option value="state3">state3</ion-option>
						<ion-option value="state4">state4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_c_state.valid  && (personal.controls.ddl_c_state.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>District</ion-label>
					<ion-select formControlName="ddl_c_dist">
						<ion-option value="district1">district1</ion-option>
						<ion-option value="district2">district2</ion-option>
						<ion-option value="district3">district3</ion-option>
						<ion-option value="district4">district4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_c_dist.valid  && (personal.controls.ddl_c_dist.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Taluka</ion-label>
					<ion-select formControlName="ddl_c_tal">
						<ion-option value="taluka1">taluka1</ion-option>
						<ion-option value="taluka2">taluka2</ion-option>
						<ion-option value="taluka3">taluka3</ion-option>
						<ion-option value="taluka4">taluka4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_c_tal.valid  && (personal.controls.ddl_c_tal.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Village</ion-label>
					<ion-select formControlName="ddl_c_village">
						<ion-option value="village1">village1</ion-option>
						<ion-option value="village2">village2</ion-option>
						<ion-option value="village3">village3</ion-option>
						<ion-option value="village4">village4</ion-option>
					</ion-select>
				</ion-item>
				<div *ngIf="!personal.controls.ddl_c_village.valid  && (personal.controls.ddl_c_village.dirty || submitAttempt)">
					<p>This field is required.</p>
				</div>
				<ion-item>
					<ion-label floating>Pin code</ion-label>
					<ion-input formControlName="txt_c_pincode" type="number"></ion-input>
				</ion-item>
				<div *ngIf="!personal.controls.txt_c_pincode.valid  && (personal.controls.txt_c_pincode.dirty || submitAttempt)">
					<p>Please enter a valid 6 digit Pin no.</p>
				</div>
			</div>
		</ion-list>
	</form>
	<div class="list-retry" padding *ngIf="retryButton">
		<div padding class="img-error"></div>
		<h6>Oops! something went wrong.</h6>
		<div>
			<button ion-button color="light" (click)="ionViewDidLoad()">Retry</button>
		</div>
	</div>
	<ion-fab top right edge>
		<button (click)="save()" ion-fab>
			<ion-icon name="checkmark"></ion-icon>
		</button>
	</ion-fab>
</ion-content>
