<ion-header>
  <ion-navbar color="app">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{current_farmer.name}} <span style="text-transform:uppercase">({{form_name}})</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo" style="background: url('../assets/img/images.jpg') repeat transparent;"></div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4>
        <div padding>
            <!-- <ion-card-header>
              <h1><small>Total : </small>0</h1>
            </ion-card-header>
            <ion-card *ngFor="let form of forms" (click)="onTap(form.pageName)">
              <ion-card-header>
                <strong>{{form.title}}</strong>
                <ion-badge item-end color="{{ form.point <= 10 ? 'danger' : (form.point >= 50 ? 'secondary' : 'primary') }}">{{form.point}}%</ion-badge>

              </ion-card-header>
              <ion-card-content>
                 {{form.desc}}
              </ion-card-content>
            </ion-card> -->

            <ion-list>
              <button ion-item *ngFor="let form of forms" (click)="onTap(form.pageName)">
                <ion-icon name="{{form.icon}}" item-start></ion-icon>
                {{form.title}}
                <ion-badge item-end color="{{ form.point <= 10 ? 'danger' : (form.point >= 50 ? 'secondary' : 'primary') }}">{{form.point}}</ion-badge>
              </button>
            </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>